<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creation.anindya.uiautomatorsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenuActivity"> <!--Change it to ".MainActivity" for testing
                UiAutomator and combine(UiAutomator & Espresso) testing-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_uiautomator" >
        </activity>

        <activity
            android:name=".ShowTextActivity"
            android:label="@string/title_activity_text" >
        </activity>
        <activity
            android:name=".EnterNameActivity"
            android:label="@string/title_activity_espresso" >
        </activity>

        <activity
            android:name=".DisplayNameActivity"
            android:label="@string/title_activity_display_name" >
        </activity>

    </application>

</manifest>